.left{
position: fixed;
bottom: 0px;
background-color: rgba(160, 128, 23, 0.739);
width: 50%;
height: 300px;
max-width: 1902px;
min-width: 402px;
color: rgb(3, 0, 202);
font-size: 50px;
text-align: center;
border: 4px solid cadetblue;
border-radius: 3%;
}
.right{
right: 0px;
position: fixed;
background-color:rgba(160, 128, 23, 0.739);
width: 50%;
height: 300px;
max-width: 1902px;
min-width: 402px;
color: rgb(3, 0, 202);
font-size: 50px;
text-align: center;
border: 4px solid cadetblue;
border-radius: 3%;
}

.result{
border: 6px solid rgb(88, 135, 156);
border-radius: 6%;
width: 550px;
height: 300px;
position: fixed;
transform: translate(700px,330px);
text-align: center;
font-size: 30px;
color: blue;
background-color: lavenderblush;
padding-top: 100px;
}
.span2{color: brown;}
